<%= link_to conversation_path(conversation) do %>
  <div id="<%= dom_id conversation %>" class='bg-sky-600 shadow-xl rounded-lg mt-3 px-2 py-4'>
    <p class='text-slate-50'>
      <strong>Client phone number:</strong>
      <%= conversation.client_phone_number %>
    </p>

    <p class='text-slate-50'>
      No messages yet
    </p>
  </div>
<% end %>
