<div id="<%= dom_id conversation %>" class='bg-sky-600 shadow-md rounded-lg mt-3'>
  <p>
    <strong>Client phone number:</strong>
    <%= conversation.client_phone_number %>
  </p>

  <p>
    <strong>Business phone number:</strong>
    <%= conversation.business_phone_number %>
  </p>
</div>
