<%= render partial: 'shared/conversation_header', locals: { page: @page, client_phone_number: nil, heading: nil, conversation: nil, date: @date, q: @q, sort: @sort } %>


<div class='w-1/2 mx-auto'>
  <%= render "form", conversation: @conversation %>
</div>
