<%= render partial: 'shared/conversation_header', locals: { conversation: @conversation, client_phone_number: @conversation.client_phone_number, heading: 'Conversation', q: @q, date: @date, page: @page, sort: @sort } %>

<div class='w-1/2 mx-auto'>
  <div class='my-2'><strong>Keywords:</strong> <%= @conversation.keywords.join(', ') %></div>
  <div data-controller='new-message'>
    <%= render "messages/form", message: @message, conversation: @conversation, message_type: @message_type, template_params: @template_params %>
  </div>
  <div class="mb-[20px]">
    <% @conversation.messages.each do |message| %>
      <% if !message.new_record? %>
        <%= render message, tz: 'America/Mexico_City' %>
      <% end %>
    <% end %>
  </div>
</div>

