<%= render partial: 'shared/conversation_header', locals: { client_phone_number: @conversation.client_phone_number, heading: 'Conversation' } %>

<div class='w-1/2 mx-auto'>
  <div data-controller='new-message'>
    <%= render "messages/form", message: @message, conversation: @conversation, message_type: @message_type, template_params: @template_params %>
  </div>

  <% @conversation.messages.each do |message| %>
    <% if !message.new_record? %>
      <%= render message %>
    <% end %>
  <% end %>
</div>

