<div class="flex items-center">
  <div class='mr-2'>
    <%= link_to "<-- Back to conversations", conversations_path %>
  </div>
  <h1 class='text-3xl font-bold underline'>Conversation: <%= @conversation.client_phone_number %></h1>
</div>

<div class='w-1/2 mx-auto'>

  <div data-controller='new-message'>
    <%= render "messages/form", message: @message, conversation: @conversation %>
  </div>

  <% @conversation.messages.each do |message| %>
    <% if !message.new_record? %>
      <%= render message %>
    <% end %>
  <% end %>
</div>

